option_settings:
  aws:elasticbeanstalk:application:
    "Application Healthcheck URL": /health
  aws:elasticbeanstalk:application:environment:
    AWS_ACCESS_KEY_ID: ReplaceWithAWSAccessKeyID
    AWS_SECRET_KEY: ReplaceWithAWSSecretAccessKey
    S3_BUCKET: ReplaceWithS3Bucket
    S3_REGION: ap-northeast-1
    INDEX_DOCUMENT: index.html
    CATCH_DOCUMENT: index.html
    AUTH_USER: user
    AUTH_PASSWORD: password
